# Configuration for antswitch-cli
ADMIN_USERS="pi dl2ab"
EXT_URL_HW_CONFIG="http://URLOFYOURREMOTESTATION/config"

# Internal adress of antenna switch
HOST="http://antswitch.local"
COMMAND_BASE="curl -s -m 2"
# this command checks, if the antenna can be switched via webinterface
CHECK_CMD_FOR_LOCK='pgrep -f UHRR'

# API-Commands with CURL. Script is using {PORT} and/or {LABEL}
CMD_SET_INPUT='${COMMAND_BASE} "${HOST}/api/switch?input={PORT}"'
CMD_SET_OUTPUT='${COMMAND_BASE} "${HOST}/api/switch?output={PORT}"'
# status calls with jq for JSON-decoding
CMD_GET_INPUT='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".input"'
CMD_GET_OUTPUT='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".output"'
CMD_GET_POWER='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".power_f"'
CMD_GET_PEAK='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".power_peak"'
CMD_GET_SWR='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".swr"'

# Use this options only, if your antenna switch supports labels. This will overwrite antswitch-cli.ports 
# if you want to use manual editing of the labels in "antswitch-cli.ports" set DOWNLOAD_LABELS=0
DOWNLOAD_LABELS=1
CMD_GET_LABEL_IN='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".iLabel{PORT}"'
CMD_GET_LABEL_OUT='${COMMAND_BASE} "${HOST}/api/status" | jq -r ".oLabel{PORT}"'
